   .navybox {
    position: relative;
    background: navy; /* Use 'background' instead of 'background-color' */
    padding: 20px;
    width: 100%; /* Set the width to 100% to extend from left to right */
    display: flex;
    justify-content: center; /* Center the content horizontally */
   
  }

  #playerName{
    position: absolute;
    left: 1%;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  a:hover {
    color: lightgray;
  }

  #playerData{
    position: absolute;
    right: 0%;
    color: white;
  }

    /*-----finish navybox-----*/
  

    /*-----PageName-----*/

  #h1Name{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 8vh;
  }

 

  #main_body {
    height: 70vh;
    border-collapse: collapse;
    background-image: url('../images/black-1072366_1920.jpg');
    border: solid black 1px;
    text-align: center;
    position: relative;
    
  }

   #ludo_board{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  
  #main_body p{
    color: white;
    font-size: large;
  }

  #ui_Chat{
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 10%;
    background-color: white;
    color: black;
  }

  #form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    border-collapse: collapse;
    
  }

  inputt{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;

  }  
  
  #submit{
    width: 100%; /* Make the button as wide as the input fields */
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
  }

    /*-----Finish Form-----*/
  
    /*-----Buttton-----*/

  #gameButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: relative;
    bottom: 5%;
    margin-right: 20px;
  }

  #ludo_reset{
    margin-right: 10px;
  }

    /*-----Finish Buttton-----*/

    /*-----Footer-----*/

  #footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    position: relative;
    bottom: 0%;
    color: white;
    background-color: navy;

  }
 